@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}



/* Scrollbar */
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #535a5e;
    border-radius: 10px;
    border: 3px solid #F1F7FF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    margin-bottom: 20px;

    font-size: 38pt;
    font-weight: 700;
    color: #fff;
}

h3 {
    margin-bottom: 60px;

    font-size: 21pt;
    font-weight: 400;
    color: #fff;
}

body {
    margin: 0;

    font-family: 'Lato', sans-serif;
}



/* Container */
.container {
    padding: 80px 10% 0;
}



/* Header */
.header-wrapper {
    background: url("../images/header.jpg") center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.header-container {
    padding-top: 40px;
}

.header {
    display: grid;
    height: 100vh;

    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas:
            'header-name .  navigation'
            '. header-text .'
    ;

    color: #fff;
}

.header-name {
    font-size: 48pt;
    font-weight: 300;

    grid-area: header-name;
}

.header-text {
    display: flex;
    align-items: center;
    text-align: center;

    grid-area: header-text;
}

.header__order-button {
    width: 310px;
    height: 70px;

    border: none;
    background-color: #a4b9be;

    font-size: 21pt;
    color: #fff;

    cursor: pointer;

    transition: background-color .4s, transform .3s;
    transition-delay: .1s;
}

.header__order-button:hover {
    background-color: #82969b;
    transform: scale(1.1);
}

.header__order-button:active {
    background-color: #a4b9be;
    transform: scale(1);
    transition: .1s;
}



/* Navigation */
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: navigation;
}

.navigation__link {
    font-size: 16pt;
    font-weight: 700;
    color: #fff;
    text-decoration: none;

    transition: .2s;
    transition-delay: .01s;
}

.navigation__link:hover {
    transform: translateY(-3px) scale(1.05);
    color: #b7b7f5;
}



/* Description */
.description {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
            'description__wrapper description__wrapper description__wrapper'
            '. descripion-pen .'
    ;

    margin-bottom: 80px;
}

.description__wrapper {
    text-align: center;

    grid-area: description__wrapper;
}

.description-title {
    color: #535a5e;
}

.description-subtitle {
    font-size: 16pt;
    color: #9fa4a7;
}

.description-pen {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: descripion-pen;
}

.description-pen img {
    width: 50px;
    height: 50px;
}



/* Tab */
.tab {
    background-color: #a4b9be;
}

.tab-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
            '. tab-description .'
            'tab-image tab-image tab-image'
    ;
}

.tab-description {
    text-align: center;
    grid-area: tab-description;
}

.tab-image {
    text-align: center;
    grid-area: tab-image;
}

.tab-image img {
    margin-bottom: -3px;
}



/* Price */
.price-wrapper {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 30px;
    grid-template-areas:
            '. price-description price-description price-description .'
            '. free-card professional-card enterprice-card .'
            '. . price-caution . .'
    ;
}

.price-description {
    text-align: center;
    grid-area: price-description;
}

.price-title {
    font-size: 30pt;
    color: #535a5e;
}

.price-subtitle {
    font-size: 21pt;
    color: #98a0a5;
}

.price-card {
    text-align: center;
    transition: .3s;
}

.price-card:hover {
    transform: translateY(-10px);
}

.free {
    grid-area: free-card;
}

.professional {
    grid-area: professional-card;
}

.enterprise {
    grid-area: enterprice-card;
}

.card-header {
    padding-top: 30px;
    height: 120px;

    text-align: center;

    border-radius: 5px 5px 0 0;
    background-color: #535a5e;
}

.card-header .price-title {
    margin: 0;

    font-weight: 100;
    color: #fff;
}

.price-offer {
    padding: 60px 0;
    margin-bottom: 30px;
    text-align: center;
    background-color: #e9eef2;
}

.offer-title {
    margin-bottom: 60px;
    color: #535a5e;
}

.offer-title:last-child {
    margin-bottom: 0;
}

.price-btn {
    width: 100%;
    padding: 25px 0;

    background-color: #535a5e;
    border: none;
    border-radius: 5px;

    font-size: 18pt;
    color: #fff;

    transition: .3s;
}

.price-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.price-btn:active {
    transform: scale(1);
    transition: .1s;
}

.professional .card-header{
    background-color: #58ad52;
}

.professional .price-subtitle {
    margin: 0;

    font-size: 15pt;
    color: #ffff;
}

.professional .price-offer {
    background-color: #dfebdf;
}

.professional .price-btn {
    background-color: #58ad52;
}

.enterprise .card-header{
    background-color: #53a1ad;
}

.enterprise .price-offer {
    background-color: #dee9eb;
}

.enterprise .price-btn {
    background-color: #53a1ad;
}

.price-caution {
    grid-area: price-caution;
    font-size: 15pt;
    text-align: center;
}



/* Form */
.form {
    background-color: #2d3035;
}

.form-wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-areas:
            'form-description form-description form-description'
            '. user-data .'
            '. user-data .'
            '. social-networks .'
    ;

    text-align: center;
}

.form-description {
    grid-area: form-description;
}

.form-subtitle {
    color: #838a8f;
}

.user-data {
    grid-area: user-data;
}

.input-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
            'name-input'
            'email-input'
            'message-input'
    ;

    margin-bottom: 20px;
}

.user-input {
    width: 100%;
    height: auto;
    padding: 20px;
    border: 2px solid #e9eef2;
    border-radius: 5px;
    background-color: #2d3035;

    font-size: 14pt;
    color: #e9eef2;
    outline: none;
    transition: .2s;
}

.user-input:focus {
    background-color: #25282c;
    border: 2px solid #a6a9af;
}

.user-input::placeholder {
    font-size: 14pt;
    color: #e9eef2;
}

.name-input {
    grid-area: name-input;
}

.email-input {
    grid-area: email-input;
}

.message-input {
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    color: #e9eef2;
    resize: none;
    grid-area: message-input;
}

.submit-button {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 40px;

    background-color: #a4b9be;
    border: none;
    border-radius: 5px;

    font-size: 14pt;
    font-weight: 700;

    transition: .3s;
}

.submit-button:hover {
    cursor: pointer;
    background-color: #5e6e70;
}

.submit-button:active {
    transform: scale(0.9);
    background-color: #a4b9be;
    transition: .1s;
}

.social-networks {
    grid-area: social-networks;
}

.social-networks a {
    margin: 0 10px;
}

.social-networks img {
    width: 5%;
    transition: .1s;
}

.social-networks img:hover {
    transform: translateY(-5px);
}



/* Footer */
.footer .container {
    padding: 60px 10%;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    grid-template-areas:
            'footer-copyright  footer-copyright  navigation'
    ;
}

.footer-copyright {
    grid-area: footer-copyright;
    font-size: 16pt;
    font-weight: 700;
    color: #535a5e;
}

.footer .navigation {
    grid-area: navigation;
}

.footer .navigation__link {
    color: #535a5e;
}